<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">

    <title>{{subject}}</title>

</head>

<body>

    <h1>UPDATE</h1>

    <p>The user {{name}} {{user_mail}} has deleted the product #{{product_id}} "{{ product_name }}"> </p>
    <p>At {{modified_time}}</p>
</body>

</html>