<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">

    <title>{{subject}}</title>

</head>

<body>

    <h1>UPDATE</h1>

    <p>The user {{name}} {{user_mail}} has modified the product #{{product_id}}</p>
    <p>Old name :{{old_name}} => New Name : {{new_name}}</p>
    <p>Old Price :{{old_price}} => New Price : {{new_price}}</p>
    <p>At {{modified_time}}</p>
</body>

</html>